{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="intro">{{ page.intro|richtext }}</div>

<form method="POST">
    {% csrf_token %}

    {{ form.prenom.label_tag }}<br>
    {{ form.prenom }}<br><br>

    {{ form.nom.label_tag }}<br>
    {{ form.nom }}<br><br>

    {{ form.email.label_tag }}<br>
    {{ form.email }}<br><br>

    {{ form.telephone.label_tag }}<br>
    {{ form.telephone }}<br><br>

    {{ form.message.label_tag }}<br>
    {{ form.message }}<br><br>

    <button type="submit">Envoyer</button>
</form>

{% endblock %}